<ion-content>
  <div class="container-input-div">
    <div class="container-content-input">
      <div class="content-person-icon">
        <ion-icon name="person-circle"></ion-icon>
      </div>
      <div class="ion-padding">
            <ion-label for="">Name:</ion-label>
            <ion-input placeholder="John"></ion-input>
            <ion-input label="Last Name: " placeholder="Doe"></ion-input>
            <ion-input label="Password: "></ion-input>
        </div>

    </div>
    
  </div>
</ion-content>