ion-content{
  --background: url("../../../assets/background-home.jpg") bottom;
}

ion-accordion-group{
  --margin-top: 40px;
  width: 70%;
  margin: auto;
}

.ion-textarea{
  --placeholder-color: rgb(98, 37, 47);
}

#contain-user{
  background: rgb(243, 238, 238);
  color: #000;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-toolbar{
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.button-edit,.button-message{
  margin-top: 10px;
  display: block;
  margin: auto;
}
.container-messages{
  width: 90%;
  margin: 0 auto ;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-shadow: 2px 2px #151313;
}

.span-message-title{
  font-size: .9rem;
}

